/* Center all page content */
.page,
.page-title,
.page__content,
.site-title,
.site-nav {
    text-align: center;
}

.page__hero {
    padding-top: 0 !important;  /* 移除內邊距 */
    margin-top: -20px !important; /* 向上移動 */
    background-size: cover !important;  /* 確保圖片填滿 */
    background-position: center center !important; /* 置中 */
}


/* Gradient header background */
.site-header {
    background: linear-gradient(to right, #005a9c, #2ca58d);
    color: white;
    text-align: center;
    padding: 50px 0;
}

/* Style for the title text */
.site-title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}



